{% import "bootstrap/utils.html" as utils%}
{%extends 'base.html'%}
{% block title %}departments{% endblock %}

{%block body%}
<div class="container departments">
<div class="row">
        {{ utils.flashed_messages() }}
</div>

<div class="row">
    <h1 class="text-center">
      DEPARTMENTS
    </h1>
</div>
<div class="row">
    {% if departments%}
    {% for department in departments%}
    <div class="col-lg-4 well">
     <h1 class="text-center">{{department.name}}</h1>
     <h3 class="text-center">{{department.description}}</h3>
     <a href="{{url_for('admin.edit_department', id=department.id)}}"><button class="btn btn-info">Edit</button></a>
     <a href="{{url_for('admin.delete_department', id=department.id)}}"><button class="btn btn-info">Delete</button></a>
    </div>
    {%endfor%}
    {%else%}
    <h1 class="text-center">
    No DEPARTMENTS AVAILABLE
    </h1>
    {%endif%}
    
</div>
<div class="row">
    <a href="{{url_for('admin.add_department')}}"><button class="btn btn-default btn-lg add-dept-button">ADD DEPARTMENT</button></a>
</div>
</div>







{%endblock%}